@import '../../styling/colors';

.people-list {
    max-height: 250px;
    overflow-y: auto;
    margin: 20px !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}